.color1 {color: #f6a3ec;}
.color2 {color: #f8c9cc;}
.color3 {color: #300d16;}
.color4 {color: #877677;}
.color5 {color: #f3eae8;}

/*font-family: 'Chela One', cursive;
font-family: 'Finlandica', sans-serif;
font-family: 'Stint Ultra Condensed', cursive;*/
html,body{
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #300d16;
}
header{  
  background-image: url("/assets/portada.jpg"); opacity: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #300d16;
}
h1{
  text-shadow: 0 0 5px #f3eae8;
  font-family: 'Grenze Gotisch', cursive;  
  font-size: 80px;
}
.navbar{
  width: 100%;
  margin: 0 auto;
  font-family: 'Grenze Gotisch';
  font-size: 35px; 
  display: inline-block;
  background-color:#f8c9cc;
  color: #877677;
  text-shadow: 0 0 5px #300d16;

}
nav ul  {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  
}
ul li {
  padding: 5px;
  width: auto;    
  margin-right: 80px;
}
  .nav-item{
      text-decoration: none;
      display: inline;
      align-items: center;  
      float: left;
  }
  #sec1{
    height: 80px;
    background-color:#f8c9cc;
    color: #300d16;
    text-shadow: 0 0 5px #877677;
    font-family: 'Grenze Gotisch';
    font-size: 40px; 
    text-align: center;
  }  
  #sec1{
    animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
p{
  font-family: 'Finlandica', sans-serif;
  font-size: 18px;
  color: #f8c9cc;
  padding:5px;
  text-align: center;
  animation: animate__fadeInLeft;

}
.contenedor-tienda{
  padding-top: 3%;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  background-color: #f3eae8;
  flex-wrap: wrap;
}

.card{

  height: 500px;
  width: 400px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  font-family: 'Finlandica', sans-serif;
}
.src {
  opacity: 50%;
  height: 200px;
  width: 200px;
}
h4{
  color: #300d16;
  font-family: 'Finlandica', sans-serif;
  font-size: 35px;
  text-align: center;
}
h3{
  color: #f6a3ec;
  font-family: 'Finlandica', sans-serif;
  text-shadow: 0 0 5px #300d16;
  text-align: center;
  font-size: 30px;
}
.card-precio{
  font-size: 25px;
  color:#300d16;
}
.button {
  background-color: #f8c9cc;
  border-radius: 5px;
  color:#300d16;
  padding: 8px;
  font-family: 'Grenze Gotisch';
}
#sec2{
  height: 80px;
  background-color:#f8c9cc;
  color: #300d16;
  text-shadow: 0 0 5px #877677;
  font-family: 'Grenze Gotisch';
  font-size: 40px; 
  text-align: center;
}
#sec2{
  animation-duration: 3s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
#btnCarrito{
  background-color: #f8c9cc;
  color:#300d16;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Grenze Gotisch';
 
}
#btnComprafinal{
  background-color: #f8c9cc;
  border-radius: 5px;
  color:#300d16;
  padding: 8px;
  font-family: 'Grenze Gotisch';
}
.mb-3{
  font-family: 'Finlandica', sans-serif;
  font-size: 20px;
  color: #f8c9cc;
  text-align: center; 
  padding: 2px;
}
label{
  font-family: 'Finlandica', sans-serif;
  font-size: 20px;
  color: #f8c9cc;
  padding:5px;
}
.btn{
  background-color: #f8c9cc;
  border-radius: 5px;
  color:#300d16;
  padding: 8px;
  font-family: 'Grenze Gotisch';
  text-align: center;
}
footer{
  width: 100%;
  font-family: 'Grenze Gotisch';
  font-size: 20px; 
  display: inline-block;
  background-color:#f8c9cc;
  color: #877677;
  text-shadow: 0 0 5px #300d16;
  text-align:center;
}
